<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auger</title>
    <link rel="stylesheet" href="style.css">
</head>
<body class="flow-5">
    <header class="flow-5">
        <svg width="120" xmlns="http://www.w3.org/2000/svg" baseProfile="full" aria-hidden="true" viewBox="0 0 220 220" :=""><path d="M140 20a60 60 0 00-60 60h60zM80 200a60 60 0 0060-60H80zM50 80a30 30 0 0130 30 30 30 0 01-30 30 30 30 0 01-30-30 30 30 0 0130-30zm60 0a30 30 0 0130 30 30 30 0 01-30 30 30 30 0 01-30-30 30 30 0 0130-30zm60 0a30 30 0 0130 30 30 30 0 01-30 30 30 30 0 01-30-30 30 30 0 0130-30"></path><path d="M80 20a60 60 0 0160 60H80zm60 180a60 60 0 01-60-60h60zM20 20a60 60 0 0160 60H20zm0 180a60 60 0 0060-60H20zM200 20a60 60 0 00-60 60h60zm0 180a60 60 0 01-60-60h60z"></path></svg>
        <h1> Auger </h1>
        <p>The <a href="https://webring.xxiivv.com/">Merveilles webring</a> aggregator.</p>
        <p>Search with <a href="https://lieu.cblgh.org/">Lieu</a>.</p>
    </header>
    <main>
        {% for x in pg %} <a href="{{x}}.html">{{x}}</a>{% endfor %} <a href="end.html">end</a> 
    <!-- [0] = title, [1] = href, [2] = date  [3] = favicons -->
        <ul class="flow-3" id="content">
        {% include 'content.html' %}
        {% block content %}

        {% endblock %}
        </ul>
        {% for x in pg %} <a href="{{x}}.html">{{x}}</a>{% endfor %} <a href="end.html">end</a> 
    </main>
</body>
</html>
