:root {
    --text: black;
    --background: white;
    --cyan: #2a846b;
    --cyan-light: #43c9a5;
    --cyan-dark: #287d66;
    --ratio: 1.5;
    --s-5: calc(var(--s-4) / var(--ratio));
    --s-4: calc(var(--s-3) / var(--ratio));
    --s-3: calc(var(--s-2) / var(--ratio));
    --s-2: calc(var(--s-1) / var(--ratio));
    --s-1: calc(var(--s0) / var(--ratio));
    --s0: 1rem;
    --s1: calc(var(--s0) * var(--ratio));
    --s2: calc(var(--s1) * var(--ratio));
    --s3: calc(var(--s2) * var(--ratio));
    --s4: calc(var(--s3) * var(--ratio));
    --s5: calc(var(--s4) * var(--ratio));
    font-size: calc(1rem + 0.5vw);
    font-family: serif;
    hyphens: auto;
    box-sizing: border-box;
    font-variant-numeric: oldstyle-nums;
    line-height: 1.5;
}

@media (prefers-color-scheme: dark) {
    :root {
        --text: white;
        --background: black;
        --cyan-dark: #249b7b;

    }

    header svg,
    footer svg,
    footer img {
        filter: invert(100%);
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --text: black;
        --background: white;
    }
}


body {
    margin: 0;
    background-color: var(--background);
    color: var(--text);
    overflow-x: hidden;
}


body>*+* {
    margin-top: var(--s1);
}

a {
    color: var(--cyan);
}

a:visited {
    color: var(--cyan-dark);
}

a:hover {
    color: var(--cyan-light);
}

h1,
h2,
h3 {
    margin: 0;
}

main {
    max-width: 800px;
    max-width: 60ch;
    margin-left: auto;
    margin-right: auto;
    padding: var(--s1);
}

header,
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--s0);
}

header svg,
footer svg {
    width: var(--s4);
}

p,
ul {
    margin: 0;
}

ul {
    padding: 0;
    list-style-type: none;
}

li>*+* {
    margin-left: var(--s-5);
}

li {
    line-height: 1.25;
}

li>* {
    vertical-align: middle;

}

li>img {
    border-radius: 50%;
}

li small a {
    color: var(--text);
}

.flow>*+* {
    margin-top: var(--s0);
}

.flow1>*+* {
    margin-top: var(--s1);
}

.flow-3>*+* {
    margin-top: var(--s-3);
}

.flow-5>*+* {
    margin-top: var(--s-5);
}

.pagination {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.pagination ul {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.pagination ul *+* {
    margin-left: var(--s-3);
}